@import "variables";

// Display Flex

@mixin display-flex {
    display: flex;
}

.d-flex {
 @include display-flex();
}

@media screen and (max-width: $breakpoint-xs) { 
.d-#{$xs}-flex{
	@include display-flex();
}
}   

$i: 1;
@each $break in $breaks {
    @media screen and (min-width: $break) { 
        .d-#{nth($breakpoints,$i)}-flex{
        @include display-flex();
        }
    }   
	
	$i: $i + 1
}
