// FONT STYLES

//Colors
//Font weight
@each $font-weight in $font-weights {

	.font-weight-#{$font-weight}{
		font-weight: $font-weight !important;
	}
	
}

// italic
.font-italic {
  font-weight: italic !important;
}

//Background & Border Colors

$i: 1;
@each $color in $colors {

    .bg-#{nth($color-names, $i)} {
        background-color: $color;
    }

    .border-#{nth($color-names, $i)} {
       border: solid 1px $color;
   }
    
     .#{nth($color-names, $i)} {
        color: $color;
    }
    $i: $i +1;
}

// change if more colors are added
@each $side in $side-name {

    @for $k from 1 through 8{
	
		.border-#{$side}-#{nth($color-names, $k)} {
		
			border-#{$side}: solid 1px #{nth($colors, $k)};
			
		}
		
	}
	
}

.border-none{
  border: none !important;
}

