// ----- VARIABLES -------

$class-col: col;
$gutter-width: 1%;
$column-width: (88%/12);

$xs: xs;
$sm: sm;
$md: md;
$lg: lg;
$xl: xl;

$breakpoints:  $sm, $md, $lg, $xl;

$breakpoint-xs: 575px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breaks: $breakpoint-sm, $breakpoint-md, $breakpoint-lg, $breakpoint-xl;

$sizes-name: 0;
$sizes: 0, 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem;
$side-name: "left", "right", "top", "bottom";

$display-flex: justify-content, align-items, align-content, align-self;
$flex-options: flex-start, flex-end, space-around, space-between, center;
$flex-name: start, end, around, between, center;
$text-align: start, end, center, justify;
$flex-direction: row, column, row-reverse, column-reverse; 

$wh-options: 10;

$main: #001b41;
$secondary: #465a75;
$main-blue: #003d8f;
$light-blue: #0b9dcc;
$soft-blue: #28cce8;
$secondary-blue: #3364a5;
$light: #fff;
$light-gray: #f6f7f8;
$article-blue: #0357a0;

// change _font-color file if more colors are added
$colors: $main, $secondary, $main-blue, $light-blue, $soft-blue, $secondary-blue, $light, $light-gray, $article-blue;
$color-names: main, secondary, main-blue, light-blue, soft-blue, secondary-blue, light, light-gray, article-blue;

$font-weights: lighter, bold, bolder;
