@import "reset";

$gutter-width: 1%;
$column-width: (88%/12);

// ----------- GRID GENERAL FORMULA ---------------

@mixin grid-unit($span) {
  float: left;
  border: red 1px solid; //delete this at the end
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1));
}

// Creates the col-* class from 1-12
$class-col: col;
@for $i from 1 through 12 {
  .#{$class-col}-#{$i} {
    @include grid-unit($i);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 940px;
  margin: auto;

  @media screen and (max-width: 940px) {
    width: auto;
  }
}


// Creates margins & paddings
$sizes-name: 1;
$sizes: 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem;

  @each $size in $sizes {
    .m-#{$sizes-name} {
    margin: $size;
    }
  $sizes-name: $sizes-name+1;
  }
