@import "reset";

$gutter-width: 1%;
$column-width: (88%/12);
$breakpoint-xs: 575px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// ----------- GRID GENERAL FORMULA ---------------

@mixin grid-unit-normal($span) {
  float: left;
  border: red 1px solid; //delete this at the end
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1));
}

@mixin grid-unit($span) {
  float: left;
  border: red 1px solid; //delete this at the end
  margin-right: $gutter-width;
  width: ($column-width * $span) + ($gutter-width * ($span - 1)) !important;
}

// Creates the col-* class from 1-12
$class-col: col;
$xs: xs;
$sm: sm;
$md: md;
$lg: lg;
$xl: xl;

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, 
.col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, 
.col-xl {
  position: relative;
  width: 100%;
}

@for $i from 1 through 12 {
  .#{$class-col}-#{$i} {
    @include grid-unit-normal($i);
  }
}
@for $i from 1 through 12 {
  @media screen and (max-width: $breakpoint-xs) {
	.#{$class-col}-#{$xs}-#{$i} {
      @include grid-unit($i);
	}
  }
}
@for $i from 1 through 12 {
  @media screen and (min-width: $breakpoint-sm) {
	.#{$class-col}-#{$sm}-#{$i} {
      @include grid-unit($i);
	}
  }
}
@for $i from 1 through 12 {
  @media screen and (min-width: $breakpoint-md) {
	.#{$class-col}-#{$md}-#{$i} {
      @include grid-unit($i);
	}
  }
}
@for $i from 1 through 12 {
  @media screen and (min-width: $breakpoint-lg) {
	.#{$class-col}-#{$lg}-#{$i} {
      @include grid-unit($i);
	}
  }
}
@for $i from 1 through 12 {
  @media screen and (min-width: $breakpoint-xl) {
	.#{$class-col}-#{$xl}-#{$i} {
      @include grid-unit($i);
	}
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 940px;
  margin: auto;

  @media screen and (max-width: 940px) {
    width: auto;
  }
}

// Creates margins & paddings
$sizes-name: 1;
$sizes: 0.5rem, 1rem, 1.5rem, 2rem, 2.5rem, 3rem, 3.5rem, 4rem, 4.5rem, 5rem;
$side-name: "left", "right", "top", "bottom";

@each $size in $sizes {
  .m-#{$sizes-name} {
    margin: $size;
  }
  .mx-#{$sizes-name} {
    margin: 0 $size;
  }
  .my-#{$sizes-name} {
    margin: $size 0;
  }
  .ml-#{$sizes-name}{
    margin-left: $size;
  }   
  .mr-#{$sizes-name}{
    margin-right: $size;
  }   
  .mt-#{$sizes-name}{
    margin-top: $size;
  }   
  .mb-#{$sizes-name}{
    margin-bottom: $size;
  }   
  $sizes-name: $sizes-name+1;
}

$sizes-name: 1;

@each $size in $sizes {
  .p-#{$sizes-name} {
    padding: $size;
  }
  .px-#{$sizes-name} {
    padding: 0 $size;
  }
  .py-#{$sizes-name} {
    padding: $size 0;
  }
  .pl-#{$sizes-name}{
    padding-left: $size;
  }   
  .pr-#{$sizes-name}{
    padding-right: $size;
  }   
  .pt-#{$sizes-name}{
    padding-top: $size;
  }   
  .pb-#{$sizes-name}{
    padding-bottom: $size;
  }   
$sizes-name: $sizes-name+1;
}

@media screen and (max-width: $breakpoint-xs) {
  $sizes-name: 1;
  @each $size in $sizes {
    .m-#{$xs}-#{$sizes-name} {
        margin: $size;
    }
    .mx-#{$xs}-#{$sizes-name} {
      margin: 0 $size;
    }
    .my-#{$xs}-#{$sizes-name} {
      margin: $size 0;
    }
    .ml-#{$xs}-#{$sizes-name} {
      margin-left: $size;
    }
    .mr-#{$xs}-#{$sizes-name} {
      margin-right: $size;
    }
	.mt-#{$xs}-#{$sizes-name} {
      margin-top: $size;
    }
    .mb-#{$xs}-#{$sizes-name} {
      margin-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  $sizes-name: 1;
  @each $size in $sizes {
    .m-#{$sm}-#{$sizes-name} {
        margin: $size;
    }
    .mx-#{$sm}-#{$sizes-name} {
      margin: 0 $size;
    }
    .my-#{$sm}-#{$sizes-name} {
      margin: $size 0;
    }
    .ml-#{$sm}-#{$sizes-name} {
      margin-left: $size;
    }
    .mr-#{$sm}-#{$sizes-name} {
      margin-right: $size;
    }
	.mt-#{$sm}-#{$sizes-name} {
      margin-top: $size;
    }
    .mb-#{$sm}-#{$sizes-name} {
      margin-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-md) {
  $sizes-name: 1;
  @each $size in $sizes {
    .m-#{$md}-#{$sizes-name} {
        margin: $size;
    }
    .mx-#{$md}-#{$sizes-name} {
      margin: 0 $size;
    }
    .my-#{$md}-#{$sizes-name} {
      margin: $size 0;
    }
    .ml-#{$md}-#{$sizes-name} {
      margin-left: $size;
    }
    .mr-#{$md}-#{$sizes-name} {
      margin-right: $size;
    }
	.mt-#{$md}-#{$sizes-name} {
      margin-top: $size;
    }
    .mb-#{$md}-#{$sizes-name} {
      margin-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  $sizes-name: 1;
  @each $size in $sizes {
    .m-#{$lg}-#{$sizes-name} {
        margin: $size;
    }
    .mx-#{$lg}-#{$sizes-name} {
      margin: 0 $size;
    }
    .my-#{$lg}-#{$sizes-name} {
      margin: $size 0;
    }
    .ml-#{$lg}-#{$sizes-name} {
      margin-left: $size;
    }
    .mr-#{$lg}-#{$sizes-name} {
      margin-right: $size;
    }
	.mt-#{$lg}-#{$sizes-name} {
      margin-top: $size;
    }
    .mb-#{$lg}-#{$sizes-name} {
      margin-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-xl) {
  $sizes-name: 1;
  @each $size in $sizes {
    .m-#{$xl}-#{$sizes-name} {
        margin: $size;
    }
    .mx-#{$xl}-#{$sizes-name} {
      margin: 0 $size;
    }
    .my-#{$xl}-#{$sizes-name} {
      margin: $size 0;
    }
    .ml-#{$xl}-#{$sizes-name} {
      margin-left: $size;
    }
    .mr-#{$xl}-#{$sizes-name} {
      margin-right: $size;
    }
	.mt-#{$xl}-#{$sizes-name} {
      margin-top: $size;
    }
    .mb-#{$xl}-#{$sizes-name} {
      margin-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  $sizes-name: 1;
  @each $size in $sizes {
    .p-#{$xs}-#{$sizes-name} {
        padding: $size;
    }
    .px-#{$xs}-#{$sizes-name} {
      padding: 0 $size;
    }
    .py-#{$xs}-#{$sizes-name} {
      padding: $size 0;
    }
    .pl-#{$xs}-#{$sizes-name} {
      padding-left: $size;
    }
    .pr-#{$xs}-#{$sizes-name} {
      padding-right: $size;
    }
	.pt-#{$xs}-#{$sizes-name} {
      padding-top: $size;
    }
    .pb-#{$xs}-#{$sizes-name} {
      padding-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-sm) { 
  $sizes-name: 1;
  @each $size in $sizes {
    .p-#{$sm}-#{$sizes-name} {
        padding: $size;
    }
    .px-#{$sm}-#{$sizes-name} {
      padding: 0 $size;
    }
    .py-#{$sm}-#{$sizes-name} {
      padding: $size 0;
    }
    .pl-#{$sm}-#{$sizes-name} {
      padding-left: $size;
    }
    .pr-#{$sm}-#{$sizes-name} {
      padding-right: $size;
    }
	.pt-#{$sm}-#{$sizes-name} {
      padding-top: $size;
    }
    .pb-#{$sm}-#{$sizes-name} {
      padding-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-md) { 
  $sizes-name: 1;
  @each $size in $sizes {
    .p-#{$md}-#{$sizes-name} {
        padding: $size;
    }
    .px-#{$md}-#{$sizes-name} {
      padding: 0 $size;
    }
    .py-#{$md}-#{$sizes-name} {
      padding: $size 0;
    }
    .pl-#{$md}-#{$sizes-name} {
      padding-left: $size;
    }
    .pr-#{$md}-#{$sizes-name} {
      padding-right: $size;
    }
	.pt-#{$md}-#{$sizes-name} {
      padding-top: $size;
    }
    .pb-#{$md}-#{$sizes-name} {
      padding-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-lg) { 
  $sizes-name: 1;
  @each $size in $sizes {
    .p-#{$lg}-#{$sizes-name} {
        padding: $size;
    }
    .px-#{$lg}-#{$sizes-name} {
      padding: 0 $size;
    }
    .py-#{$lg}-#{$sizes-name} {
      padding: $size 0;
    }
    .pl-#{$lg}-#{$sizes-name} {
      padding-left: $size;
    }
    .pr-#{$lg}-#{$sizes-name} {
      padding-right: $size;
    }
	.pt-#{$lg}-#{$sizes-name} {
      padding-top: $size;
    }
    .pb-#{$lg}-#{$sizes-name} {
      padding-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}

@media screen and (min-width: $breakpoint-xl) { 
  $sizes-name: 1;
  @each $size in $sizes {
    .p-#{$xl}-#{$sizes-name} {
        padding: $size;
    }
    .px-#{$xl}-#{$sizes-name} {
      padding: 0 $size;
    }
    .py-#{$xl}-#{$sizes-name} {
      padding: $size 0;
    }
    .pl-#{$xl}-#{$sizes-name} {
      padding-left: $size;
    }
    .pr-#{$xl}-#{$sizes-name} {
      padding-right: $size;
    }
	.pt-#{$xl}-#{$sizes-name} {
      padding-top: $size;
    }
    .pb-#{$xl}-#{$sizes-name} {
      padding-bottom: $size;
    }
  $sizes-name: $sizes-name+1;
  }
}